header h1 {
  color: #fff;
}

.btn:focus {
  @extend .btn:hover;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, outline-offset .2s linear;
}

footer .btn.newsletterTrigger {
  background-color: rgba($section-headings-color,0.9);
  border-color: rgba($section-headings-color,0.2);
  color: rgba(#fff,0.9);
  &:hover, &:focus  {
    background-color: $section-headings-color;
    border-color: rgba($section-headings-color,0.3);
    color: #fff;
  }
}

.uk-modal-dialog {
  border-radius: 0.3rem;
}

[tabindex]:not([tabindex="-1"]), a, button, input, select, submit, textarea, .uk-input, .uk-select, .uk-textarea, .uk-checkbox, .uk-radio {
    transition: outline-offset .2s linear;
    &:focus {
        outline: 2px solid #eed009;
        outline-offset: 2px;
    }
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
  
  &:focus {
    color: #003b77;
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}
